---
import SvelteComponent from '../components/SvelteComponent.svelte';
import {AngularComponent} from '../components/angular.component';
import {ReactComponent} from '../components/ReactComponent';
import VueComponent from '../components/VueComponent.vue';
import Layout from '../layouts/Layout.astro';
import SolidComponent from '../components/SolidComponent';
import PreactComponent from '../components/PreactComponent';
import AlpineComponent from '../components/AlpineComponent.html';  
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center justify-center min-h-screen bg-neutral-200 p-6">
    	<AngularComponent/>
		<ReactComponent/>
		<VueComponent />
		<SvelteComponent/>
		<SolidComponent/>
		<PreactComponent/>
		<AlpineComponent/>
	</main>
</Layout>