---
import AstroCard from "../components/AstroCard.astro";
import { ReactCard } from "../components/react/ReactCard";
import { PreactCard } from "../components/preact/PreactCard";
import VueCard from "../components/Vue/VueCard.vue";
import Layout from "../layouts/Layout.astro";
import { AngularCard } from "../components/angular/angularCard.component";
---

<Layout
  title="Welcome to Astro."
  headerColor="bg-transparent"
  bodyColor="bg-gradient-to-br from-neutral-900 via-neutral-800 to-purple-950"
  footerColor="bg-transparent"
  headerTextColor="text-white"
  footerTextColor="text-white"
  headerBorderColor="border-b border-zinc-600"
  footerBorderColor="border-t border-zinc-600"
  githubLink="https://github.com/VLtim43/Astro-Frameworks-Showcase"
  headerLogo="/astroTitleLogo.svg"
  headerLink="https://astro.build/"
>
  <main class="flex items-center flex-col justify-center">
    <div class="p-8 rounded-md max-w-5xl mx-auto text-white my-16">
      <h1 class="text-4xl font-bold mb-4 text-center">
        Astro, the <span class="text-5xl text-orange-500">Blazingly</span> Fast
        Web Framework!
      </h1>
      <div class="mt-8 text-center">
        <p class="text-lg mb-4">
          Astro is a revolutionary front-end framework that allows you to build
          faster, more efficient web projects. It empowers developers by
          offering seamless integration with various web frameworks.
        </p>
        <a
          href="https://astro.build/"
          class="text-lg text-orange-500 underline hover:text-orange-400"
          target="_blank"
          rel="noopener noreferrer">Learn more about Astro</a
        >
      </div>

      <div class="grid grid-cols-3 gap-4 my-5 mt-36">
        <div class="col-span-2"><AstroCard /></div>
        <div class="h-64"><ReactCard /></div>
        <div class="h-64"><PreactCard /></div>
        <div class="h-64"><AngularCard /></div>
        <div class="h-64"><VueCard /></div>
        <div class="h-64 bg-neutral-500">Soon!</div>
        <div class="h-64 bg-neutral-500">Soon!</div>
        <div class="h-64 bg-neutral-500">Soon!</div>
      </div>
    </div>
  </main>
</Layout>
 ../components/react/ReactCard ../components/angular/angular.component
../components/angular/angularCard.component
