---
import AstroCard from "../components/astro/AstroCard.astro";
import SimpleCard from "../components/astro/SimpleCard.astro";

import { ReactCard } from "../components/react/ReactCard";
import { PreactCard } from "../components/preact/PreactCard";
import VueCard from "../components/Vue/VueCard.vue";
import Layout from "../layouts/Layout.astro";
import { AngularCard } from "../components/angular/angularCard.component";
import SveltCard from "../components/svelte/SveltCard.svelte";
import SolidCard from "../components/solid/SolidComponent";
import AlpineComponent from "../components/AlpineComponent.html";
---

<Layout
  title="Welcome to Astro."
  headerColor="bg-transparent"
  bodyColor="bg-gradient-to-br from-neutral-900 via-neutral-800 to-purple-950"
  footerColor="bg-transparent"
  headerTextColor="text-white"
  footerTextColor="text-white"
  headerBorderColor="border-b border-zinc-600"
  footerBorderColor="border-t border-zinc-600"
  githubLink="https://github.com/VLtim43/Astro-Frameworks-Showcase"
  headerLogo="/astroTitleLogo.svg"
  headerLink="https://astro.build/"
>
  <main class="flex items-center flex-col justify-center">
    <div class="p-8 rounded-md max-w-5xl mx-auto text-white my-20">
      <h1 class="text-4xl font-bold mb-4 text-center">
        Astro, the <span class="text-5xl text-orange-500">Blazingly</span> Fast
        Web Framework!
      </h1>
      <div class="mt-8 text-center">
        <p class="text-lg mb-4">
          Astro is a revolutionary front-end framework that allows you to build
          faster, more efficient web projects. It empowers developers by
          offering seamless integration with various web frameworks.
        </p>
        <a
          href="https://astro.build/"
          class="text-lg text-orange-500 underline hover:text-orange-400"
          target="_blank"
          rel="noopener noreferrer">Learn more about Astro</a
        >
      </div>

      <div
        class="bg-transparent my-14 flex flex-col justify-center items-center"
      >
        <div class="border-b border-zinc-700 w-5/6"></div>
      </div>

      <div class="grid grid-cols-3 gap-4 mt-20">
        <div class="col-span-2"><AstroCard /></div>
        <div class="h-64"><ReactCard /></div>
        <div class="h-64"><PreactCard /></div>
        <div class="h-64"><AngularCard /></div>
        <div class="h-64"><VueCard /></div>
        <div class="h-64"><SveltCard /></div>
        <div class="h-64"><SolidCard /></div>
        <div class="h-64"><AlpineComponent /></div>
      </div>

      <div
        class="bg-transparent my-14 flex flex-col justify-center items-center"
      >
        <div class="border-b border-zinc-700 w-5/6"></div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <SimpleCard
          name="TailwindCSS"
          description="A fast, modern front-end framework"
          img="/tailwindLogo.svg"
          link="https://astro.build"
          bgColor="bg-gray-400"
          textColor="text-gray-800"
        />
        <SimpleCard
          name="Vercel CLI"
          description="A fast, modern front-end framework"
          img="/astroLogo.svg"
          link="https://astro.build"
          bgColor="bg-gray-400"
          textColor="text-gray-800"
        />
      </div>
    </div>
  </main>
</Layout>
