<div x-data
    class="relative flex flex-col justify-between h-full w-full bg-gradient-to-br from-alpineBlue to-slate-500 text-gray-200">
    <div class="flex justify-end px-2 pt-1">
        <h1 class="font-onest text-xs text-gray-300">Made with Alpine.js</h1>
    </div>

    <div class="font-onest px-4">
        <h1 class="text-4xl text-left font-onest font-bold">Alpine</h1>
        <h3 class="py-3">
            A minimal framework for composing JavaScript behavior in your HTML
        </h3>
        <a href="https://alpinejs.dev/start" class="text-white hover:text-gray-600 underline" target="_blank"
            rel="noopener noreferrer">
            View the documentation
        </a>
    </div>

    <div class="flex justify-end">
        <img src="/alpineLogo.svg" alt="Alpine.js Logo" class="w-8 h-8 m-1 p-0.5" />
    </div>
</div>