---

---

<div
  class="relative flex justify-between h-full w-full bg-transparent border border-neutral-700 text-white"
>
  <div class="font-onest p-3 max-w-lg">
    <h1 class="text-2xl text-left font-onest font-bold">
      Use Your Favourite UI Framework
    </h1>
    <h3 class="py-4">
      Whether it's React, Svelte, Vue, or others —your choice!
      <br />
      <a
        href="https://astro.build/integrations/"
        class="text-white-500 hover:text-white-700 underline"
        target="_blank"
        rel="noopener noreferrer"
      >
        View the documentation
      </a>
       for a full list of supported integrations.
    </h3>
  </div>
  <div class="relative top-0 right-0 py-1 px-2">
    <h1 class="font-onest text-xs">Made with Astro</h1>
    <img
      src="/astroLogo.svg"
      alt="Astro Logo"
      class="absolute bottom-0 right-0 w-6 h-6 my-2 mx-1"
    />
  </div>
</div>
